@if (heroes.length) {
<div class="heroes">
  <div class="header">
    <form class="search">
      <label for="search-hero">Buscar Héroe</label>
      <mat-form-field class="search-hero">
        <mat-label>Héroe</mat-label>
        <input
          #searchHero
          type="text"
          matInput
          [formControl]="heroName"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option.name | titlecase }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="create-button" (click)="goToCreatePage()">
      Crear Héroe
    </button>
  </div>

  <ul class="heroes-list">
    @for (hero of filteredOptions | async; track hero) {
    <li>
      <app-hero [hero]="hero" (delete)="deleteHero($event)"></app-hero>
    </li>
    }
  </ul>
</div>
}
