.hero-detail {
  display: flex;
  flex-direction: column;
  width: 100%;


  .details {
    display: flex;
    gap: 2rem;
  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .hero-image {
    max-width: 400px;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
}
