@if(hero){
<mat-card class="hero" [routerLink]="getRouterLink(hero.id)">
  <mat-card-header>
    <div
      mat-card-avatar
      class="header-image"
      [style.background-image]="'url(' + hero.image + ')'"
    ></div>
    <mat-card-title class="hero-name">{{ hero.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ hero.publisher }}</mat-card-subtitle>
  </mat-card-header>
  <img class="hero-image" mat-card-image [src]="hero.image" [alt]="hero.name" />
  <mat-card-content>
    <p class="full-name">{{ hero.fullName }}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button
      mat-raised-button
      color="accent"
      [routerLink]="getRouterLink(hero.id)"
    >
      Editar
    </button>
    <button mat-raised-button color="warn" (click)="deleteHero(hero.id, $event)">
      Borrar
    </button>
  </mat-card-actions>
</mat-card>
}
